
build/ga-win64/ALL_BUILD.vcxproj
build/ga-win64/ALL_BUILD.vcxproj.filters
build/ga-win64/ALWAYS_COPY_DATA.vcxproj
build/ga-win64/ALWAYS_COPY_DATA.vcxproj.filters
build/ga-win64/cmake_install.cmake
build/ga-win64/CMakeCache.txt
build/ga-win64/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/ga-win64/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/ga-win64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/ga-win64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/ga-win64/CMakeFiles/3.22.1/CMakeRCCompiler.cmake
build/ga-win64/CMakeFiles/3.22.1/CMakeSystem.cmake
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/CompilerIdC.exe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/CompilerIdC.vcxproj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/CompilerIdCXX.exe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/VCTargetsPath.txt
build/ga-win64/CMakeFiles/3.22.1/VCTargetsPath.vcxproj
build/ga-win64/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.recipe
build/ga-win64/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/ga-win64/CMakeFiles/64a4fe6c4eacdbac3b11aaca8c9b863b/ALWAYS_COPY_DATA.rule
build/ga-win64/CMakeFiles/64a4fe6c4eacdbac3b11aaca8c9b863b/generate.stamp.rule
build/ga-win64/CMakeFiles/64a4fe6c4eacdbac3b11aaca8c9b863b/INSTALL_force.rule
build/ga-win64/CMakeFiles/7cb2263ee0b519f3a31d2ddc9fa89e6a/INSTALL_force.rule
build/ga-win64/CMakeFiles/7cb2263ee0b519f3a31d2ddc9fa89e6a/uninstall.rule
build/ga-win64/CMakeFiles/cmake.check_cache
build/ga-win64/CMakeFiles/CMakeOutput.log
build/ga-win64/CMakeFiles/generate.stamp
build/ga-win64/CMakeFiles/generate.stamp.depend
build/ga-win64/CMakeFiles/generate.stamp.list
build/ga-win64/CMakeFiles/TargetDirectories.txt
build/ga-win64/ga.vcxproj
build/ga-win64/ga.vcxproj.filters
build/ga-win64/ga1-core.sln
build/ga-win64/INSTALL.vcxproj
build/ga-win64/INSTALL.vcxproj.filters
build/ga-win64/lua53.vcxproj
build/ga-win64/lua53.vcxproj.filters
build/ga-win64/SDL2-2.0.5/ALL_BUILD.vcxproj
build/ga-win64/SDL2-2.0.5/ALL_BUILD.vcxproj.filters
build/ga-win64/SDL2-2.0.5/cmake_install.cmake
build/ga-win64/SDL2-2.0.5/cmake_uninstall.cmake
build/ga-win64/SDL2-2.0.5/CMakeFiles/generate.stamp
build/ga-win64/SDL2-2.0.5/CMakeFiles/generate.stamp.depend
build/ga-win64/SDL2-2.0.5/include/SDL_config.h
build/ga-win64/SDL2-2.0.5/INSTALL.vcxproj
build/ga-win64/SDL2-2.0.5/INSTALL.vcxproj.filters
build/ga-win64/SDL2-2.0.5/SDL2-static.vcxproj
build/ga-win64/SDL2-2.0.5/SDL2-static.vcxproj.filters
build/ga-win64/SDL2-2.0.5/SDL2.sln
build/ga-win64/SDL2-2.0.5/SDL2main.vcxproj
build/ga-win64/SDL2-2.0.5/SDL2main.vcxproj.filters
build/ga-win64/SDL2-2.0.5/uninstall.vcxproj
build/ga-win64/SDL2-2.0.5/uninstall.vcxproj.filters
build/ga-win64/ZERO_CHECK.vcxproj
build/ga-win64/ZERO_CHECK.vcxproj.filters
