
build/ga-win64/ALL_BUILD.vcxproj
build/ga-win64/ALL_BUILD.vcxproj.filters
build/ga-win64/ALWAYS_COPY_DATA.vcxproj
build/ga-win64/ALWAYS_COPY_DATA.vcxproj.filters
build/ga-win64/cmake_install.cmake
build/ga-win64/CMakeCache.txt
build/ga-win64/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/ga-win64/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/ga-win64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/ga-win64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/ga-win64/CMakeFiles/3.22.1/CMakeRCCompiler.cmake
build/ga-win64/CMakeFiles/3.22.1/CMakeSystem.cmake
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/CompilerIdC.exe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/CompilerIdC.vcxproj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/CompilerIdCXX.exe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/ga-win64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/ga-win64/CMakeFiles/3.22.1/VCTargetsPath.txt
build/ga-win64/CMakeFiles/3.22.1/VCTargetsPath.vcxproj
build/ga-win64/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.recipe
build/ga-win64/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/ga-win64/CMakeFiles/64a4fe6c4eacdbac3b11aaca8c9b863b/ALWAYS_COPY_DATA.rule
build/ga-win64/CMakeFiles/64a4fe6c4eacdbac3b11aaca8c9b863b/generate.stamp.rule
build/ga-win64/CMakeFiles/64a4fe6c4eacdbac3b11aaca8c9b863b/INSTALL_force.rule
build/ga-win64/CMakeFiles/7cb2263ee0b519f3a31d2ddc9fa89e6a/INSTALL_force.rule
build/ga-win64/CMakeFiles/7cb2263ee0b519f3a31d2ddc9fa89e6a/uninstall.rule
build/ga-win64/CMakeFiles/cmake.check_cache
build/ga-win64/CMakeFiles/CMakeOutput.log
build/ga-win64/CMakeFiles/generate.stamp
build/ga-win64/CMakeFiles/generate.stamp.depend
build/ga-win64/CMakeFiles/generate.stamp.list
build/ga-win64/CMakeFiles/TargetDirectories.txt
build/ga-win64/ga.vcxproj
build/ga-win64/ga.vcxproj.filters
build/ga-win64/ga1-core.sln
build/ga-win64/INSTALL.vcxproj
build/ga-win64/INSTALL.vcxproj.filters
build/ga-win64/lua53.vcxproj
build/ga-win64/lua53.vcxproj.filters
build/ga-win64/SDL2-2.0.5/ALL_BUILD.vcxproj
build/ga-win64/SDL2-2.0.5/ALL_BUILD.vcxproj.filters
build/ga-win64/SDL2-2.0.5/cmake_install.cmake
build/ga-win64/SDL2-2.0.5/cmake_uninstall.cmake
build/ga-win64/SDL2-2.0.5/CMakeFiles/generate.stamp
build/ga-win64/SDL2-2.0.5/CMakeFiles/generate.stamp.depend
build/ga-win64/SDL2-2.0.5/include/SDL_config.h
build/ga-win64/SDL2-2.0.5/INSTALL.vcxproj
build/ga-win64/SDL2-2.0.5/INSTALL.vcxproj.filters
build/ga-win64/SDL2-2.0.5/SDL2-static.vcxproj
build/ga-win64/SDL2-2.0.5/SDL2-static.vcxproj.filters
build/ga-win64/SDL2-2.0.5/SDL2.sln
build/ga-win64/SDL2-2.0.5/SDL2main.vcxproj
build/ga-win64/SDL2-2.0.5/SDL2main.vcxproj.filters
build/ga-win64/SDL2-2.0.5/uninstall.vcxproj
build/ga-win64/SDL2-2.0.5/uninstall.vcxproj.filters
build/ga-win64/ZERO_CHECK.vcxproj
build/ga-win64/ZERO_CHECK.vcxproj.filters
build/ga-win64/.vs/ga1-core/v16/.suo
build/ga-win64/.vs/ga1-core/v16/Browse.VC.db
build/ga-win64/.vs/ga1-core/v16/Browse.VC.db-shm
build/ga-win64/.vs/ga1-core/v16/Browse.VC.db-wal
build/ga-win64/.vs/ga1-core/v16/Browse.VC.opendb
build/ga-win64/.vs/ga1-core/v16/Solution.VC.db
build/ga-win64/.vs/ga1-core/v16/Solution.VC.db-shm
build/ga-win64/.vs/ga1-core/v16/Solution.VC.db-wal
build/ga-win64/ALL_BUILD.vcxproj.user
build/ga-win64/Debug/lua53.lib
build/ga-win64/Debug/lua53.pdb
build/ga-win64/Debug/VeraMono.ttf
build/ga-win64/ga.dir/Debug/ga.log
build/ga-win64/ga.dir/Debug/ga.tlog/CustomBuild.command.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/CustomBuild.read.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/CustomBuild.write.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/ga.lastbuildstate
build/ga-win64/ga.dir/Debug/ga.tlog/unsuccessfulbuild
build/ga-win64/ga.dir/Debug/vc142.pdb
build/ga-win64/ga.vcxproj.user
build/ga-win64/lua53.dir/Debug/lapi.obj
build/ga-win64/lua53.dir/Debug/lauxlib.obj
build/ga-win64/lua53.dir/Debug/lbaselib.obj
build/ga-win64/lua53.dir/Debug/lbitlib.obj
build/ga-win64/lua53.dir/Debug/lcode.obj
build/ga-win64/lua53.dir/Debug/lcorolib.obj
build/ga-win64/lua53.dir/Debug/lctype.obj
build/ga-win64/lua53.dir/Debug/ldblib.obj
build/ga-win64/lua53.dir/Debug/ldebug.obj
build/ga-win64/lua53.dir/Debug/ldo.obj
build/ga-win64/lua53.dir/Debug/ldump.obj
build/ga-win64/lua53.dir/Debug/lfunc.obj
build/ga-win64/lua53.dir/Debug/lgc.obj
build/ga-win64/lua53.dir/Debug/linit.obj
build/ga-win64/lua53.dir/Debug/liolib.obj
build/ga-win64/lua53.dir/Debug/llex.obj
build/ga-win64/lua53.dir/Debug/lmathlib.obj
build/ga-win64/lua53.dir/Debug/lmem.obj
build/ga-win64/lua53.dir/Debug/loadlib.obj
build/ga-win64/lua53.dir/Debug/lobject.obj
build/ga-win64/lua53.dir/Debug/lopcodes.obj
build/ga-win64/lua53.dir/Debug/loslib.obj
build/ga-win64/lua53.dir/Debug/lparser.obj
build/ga-win64/lua53.dir/Debug/lstate.obj
build/ga-win64/lua53.dir/Debug/lstring.obj
build/ga-win64/lua53.dir/Debug/lstrlib.obj
build/ga-win64/lua53.dir/Debug/ltable.obj
build/ga-win64/lua53.dir/Debug/ltablib.obj
build/ga-win64/lua53.dir/Debug/ltm.obj
build/ga-win64/lua53.dir/Debug/lua.obj
build/ga-win64/lua53.dir/Debug/lua53.lib.recipe
build/ga-win64/lua53.dir/Debug/lua53.log
build/ga-win64/lua53.dir/Debug/lua53.tlog/CL.command.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/CL.read.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/CL.write.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/CustomBuild.command.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/CustomBuild.read.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/CustomBuild.write.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/Lib-link.read.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/Lib-link.write.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/Lib.command.1.tlog
build/ga-win64/lua53.dir/Debug/lua53.tlog/lua53.lastbuildstate
build/ga-win64/lua53.dir/Debug/lundump.obj
build/ga-win64/lua53.dir/Debug/lutf8lib.obj
build/ga-win64/lua53.dir/Debug/lvm.obj
build/ga-win64/lua53.dir/Debug/lzio.obj
build/ga-win64/SDL2-2.0.5/Debug/SDL2.lib
build/ga-win64/SDL2-2.0.5/Debug/SDL2.pdb
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/e_atan2.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/e_log.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/e_pow.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/e_rem_pio2.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/e_sqrt.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/k_cos.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/k_rem_pio2.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/k_sin.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/k_tan.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_atan.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_copysign.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_cos.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_fabs.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_floor.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_scalbn.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_sin.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/s_tan.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.log
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CL.command.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CL.read.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CL.write.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CustomBuild.command.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CustomBuild.read.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CustomBuild.write.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/Lib-link.read.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/Lib-link.write.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/Lib.command.1.tlog
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/SDL2-static.lastbuildstate
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2.lib.recipe
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_assert.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_atomic.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_audio.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_audiocvt.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_audiodev.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_audiotypecvt.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blendfillrect.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blendline.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blendpoint.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit_0.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit_1.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit_A.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit_auto.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit_copy.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit_N.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_blit_slow.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_bmp.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_clipboard.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_clipboardevents.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_cpuinfo.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_d3dmath.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_dinputhaptic.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_dinputjoystick.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_drawline.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_drawpoint.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_dropevents.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_dynapi.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_egl.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_error.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_events.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_fillrect.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_gamecontroller.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_gesture.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_getenv.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_haptic.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_hints.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_iconv.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_joystick.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_keyboard.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_log.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_malloc.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_mixer.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_mmjoystick.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_mouse.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_nullevents.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_nullframebuffer.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_nullvideo.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_pixels.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_power.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_qsort.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_quit.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_rect.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render_d3d.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render_d3d11.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render_gl.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render_gles.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render_gles2.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render_psp.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_render_sw.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_RLEaccel.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_rotate.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_rwops.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_shaders_gl.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_shaders_gles2.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_shape.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_spinlock.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_stdlib.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_stretch.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_string.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_surface.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_syscond.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_sysfilesystem.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_sysloadso.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_sysmutex.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_syspower.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_syssem.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_systhread.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_systimer.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_systls.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_thread.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_timer.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_touch.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_video.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_wave.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowevents.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windows.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsclipboard.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsevents.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsframebuffer.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowshaptic.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsjoystick.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowskeyboard.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsmessagebox.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsmodes.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsmouse.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsopengl.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsopengles.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsshape.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowsvideo.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_windowswindow.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_xinput.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_xinputhaptic.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_xinputjoystick.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_yuv_mmx.obj
build/ga-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL_yuv_sw.obj
build/ga-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.log
build/ga-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.recipe
build/ga-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/ALWAYS_COPY_DATA.lastbuildstate
build/ga-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/CustomBuild.command.1.tlog
build/ga-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/CustomBuild.read.1.tlog
build/ga-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/CustomBuild.write.1.tlog
build/ga-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/ga-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/ga-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/ga-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/ga-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/ga-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ga-win64/ga.dir/Debug/ga_animation_component.obj
build/ga-win64/ga.dir/Debug/ga_button.obj
build/ga-win64/ga.dir/Debug/ga_camera.obj
build/ga-win64/ga.dir/Debug/ga_checkbox.obj
build/ga-win64/ga.dir/Debug/ga_component.obj
build/ga-win64/ga.dir/Debug/ga_cube_component.obj
build/ga-win64/ga.dir/Debug/ga_debug_geometry.obj
build/ga-win64/ga.dir/Debug/ga_egg_parser.obj
build/ga-win64/ga.dir/Debug/ga_entity.obj
build/ga-win64/ga.dir/Debug/ga_font.obj
build/ga-win64/ga.dir/Debug/ga_geometry.obj
build/ga-win64/ga.dir/Debug/ga_hello_component.obj
build/ga-win64/ga.dir/Debug/ga_input.obj
build/ga-win64/ga.dir/Debug/ga_lua_component.obj
build/ga-win64/ga.dir/Debug/ga_material.obj
build/ga-win64/ga.dir/Debug/ga_model_component.obj
build/ga-win64/ga.dir/Debug/ga_output.obj
build/ga-win64/ga.dir/Debug/ga_program.obj
build/ga-win64/ga.dir/Debug/ga_sim.obj
build/ga-win64/ga.dir/Debug/ga_texture.obj
build/ga-win64/Debug/data/animations/bar_bend.egg
build/ga-win64/Debug/data/models/bar.egg
build/ga-win64/Debug/data/scripts/move.lua
build/ga-win64/Debug/data/shaders/ga_animated_frag.glsl
build/ga-win64/Debug/data/shaders/ga_animated_vert.glsl
build/ga-win64/Debug/data/shaders/ga_constant_color_frag.glsl
build/ga-win64/Debug/data/shaders/ga_constant_color_vert.glsl
build/ga-win64/Debug/data/shaders/ga_unlit_texture_frag.glsl
build/ga-win64/Debug/data/shaders/ga_unlit_texture_vert.glsl
build/ga-win64/Debug/data/textures/rpi.png
build/ga-win64/Debug/data/textures/test.bmp
build/ga-win64/Debug/ga.exe
build/ga-win64/Debug/ga.exp
build/ga-win64/Debug/ga.lib
build/ga-win64/Debug/ga.pdb
build/ga-win64/ga.dir/Debug/ga.exe.recipe
build/ga-win64/ga.dir/Debug/ga.ilk
build/ga-win64/ga.dir/Debug/ga.tlog/CL.command.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/CL.read.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/CL.write.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/ga.write.1u.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/link.command.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/link.read.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/link.write.1.tlog
build/ga-win64/ga.dir/Debug/ga_condvar.obj
build/ga-win64/ga.dir/Debug/ga_fiber.obj
build/ga-win64/ga.dir/Debug/ga_intersection.obj
build/ga-win64/ga.dir/Debug/ga_intersection.tests.obj
build/ga-win64/ga.dir/Debug/ga_intpool.obj
build/ga-win64/ga.dir/Debug/ga_job.obj
build/ga-win64/ga.dir/Debug/ga_label.obj
build/ga-win64/ga.dir/Debug/ga_mat3f.obj
build/ga-win64/ga.dir/Debug/ga_mat4f.obj
build/ga-win64/ga.dir/Debug/ga_physics_component.obj
build/ga-win64/ga.dir/Debug/ga_physics_world.obj
build/ga-win64/ga.dir/Debug/ga_playermove_component.obj
build/ga-win64/ga.dir/Debug/ga_quatf.obj
build/ga-win64/ga.dir/Debug/ga_queue.obj
build/ga-win64/ga.dir/Debug/ga_rigid_body.obj
build/ga-win64/ga.dir/Debug/ga_shape.obj
build/ga-win64/ga.dir/Debug/ga_vec2f.obj
build/ga-win64/ga.dir/Debug/ga_vec3f.obj
build/ga-win64/ga.dir/Debug/ga_vec4f.obj
build/ga-win64/ga.dir/Debug/ga_widget.obj
build/ga-win64/ga.dir/Debug/main.obj
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/16aa4dbd7eaa3056/GA_CUBE_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/17c6533aab8339d3/GA_PLANE.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/25b4c6179f614df1/GA_HELLO_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/2d96b9519101df6/GA_PLANE.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/5ed31f150137cda9/GA_VEC3F.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/5f860fb0a5ba547c/GA_TEXTURE.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/623f2cd31a15322e/GA_MAT4F.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/62e258eae23647fe/MAIN.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/79765705be88edd2/GA_SHAPE.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/7bc613ee37cd7170/GA_FONT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/7e011d8c58a91bfc/GA_VEC2F.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/8f39c5528a011361/GA_BUTTON.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/90c82199440c16b7/GA_CSG_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/b2eda05e11bb7836/GA_POLYGON.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/b3c6b680d7ee1536/GA_PHYSICS_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/bbc5842f8c8e227a/GA_CSG.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/bd1e0205aff31555/GA_NODE.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/bf495feaf8395f5f/GA_CSG.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/bf6d873af78a28dc/GA_NODE.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/c08a4dfaa842a342/GA_CSG_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/c4e9fd10dd472f6/GA_OPERATIONS.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/ca03d4a59a40b68e/GA_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/f5caed4125ec2913/GA_POLYGON.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/21b2e6bfaf5bb277/GA_VERTEX.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/c7359cf4102a02aa/GA_VERTEX.ipch
build/ga-win64/.vs/cmake.db
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/1d582f2b37045d15/GA_INTERSECTION.TESTS.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/469fc637e9f40729/GA_CAMERA.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/7ce6adeda889d163/GA_PLAYERMOVE_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/8be4df0c91b50ba3/GA_LUA_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/b26bee83d9027b79/GA_ANIMATION_COMPONENT.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/bacc1eefd54a8d45/GA_PHYSICS_WORLD.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/c0cd93400ba8e442/GA_EGG_PARSER.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/c540d0b9ea3d2ba1/GA_MAT3F.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/dbdca9487dfd3d67/GA_RIGID_BODY.ipch
build/ga-win64/.vs/ga1-core/v16/ipch/AutoPCH/f3125f9b9a6fa81d/GA_WIDGET.ipch
build/ga-win64/ga.dir/Debug/ga_vertex.obj
build/ga-win64/ga.dir/Debug/ga_csg.obj
build/ga-win64/ga.dir/Debug/ga_csg_component.obj
build/ga-win64/ga.dir/Debug/ga_node.obj
build/ga-win64/ga.dir/Debug/ga_polygon.obj
build/ga-win64/ga.dir/Debug/ga_plane.obj
build/ga-win64/ga.dir/Debug/ga.tlog/link.read.2.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/link-rc.write.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/link-rc.read.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/link-cvtres.write.1.tlog
build/ga-win64/ga.dir/Debug/ga.tlog/link-cvtres.read.1.tlog
